.title {
  font-size: 23px;
  font-weight: 700;
  padding-left: 20px;
}

.daily-item {
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border-radius: 400px;
  height: 60px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 10px 40px;
  margin: 20px;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.daily-item:hover,
.daily-item:focus,
.daily-item:active {
    transform: scale(1.05);
}

.icon-small {
  width: 40px;
}

.daily-item .day {
  cursor: inherit;
  color: black;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  cursor: inherit;
  flex: 1 1;
  margin-right: 0px;
  margin-left: 10px;
  text-align: left;
  font-weight: bolder;
  color: black;
}

.min-max {
  color: black;
  font-weight: bolder;
}

.daily-details-grid {
  background: rgba(0, 0, 0, 0.26);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.4px);
  -webkit-backdrop-filter: blur(10.4px);
  grid-row-gap: 0;
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 80px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 40px 40px;
  margin: 20px;
  row-gap: 0;
}

.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: white;
}

.daily-details-grid-item label:last-child {
  color: white;
}